.container {
    margin: 50px 0;
    color: rgba(255, 255, 255, 0.596);
}

.card {
    margin: 2% 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(255, 0, 0, 0.65);
}

.deaths {
    border-bottom: 10px solid rgba(0, 0, 0, 0.65);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 42, 0.65);
}